<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Задача</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2 th:text="${taskDto.id} != null ? 'Редактирование задачи' : 'Новая задача'">Новая задача</h2>

<form th:action="@{/task-form(id=${taskDto.id})}" th:object="${taskDto}" method="post">
    <!-- Скрытое поле id -->
    <input type="hidden" th:field="*{id}" />

    <label for="title">Название задачи:</label><br>
    <input type="text" id="title" th:field="*{title}" required><br><br>

    <label for="description">Описание:</label><br>
    <textarea id="description" th:field="*{description}"></textarea><br><br>

    <label for="priority">Приоритет:</label><br>
    <select id="priority" th:field="*{priority}">
        <option value="">-- выберите --</option>
        <option th:value="LOW">Низкий</option>
        <option th:value="MIDDLE">Средний</option>
        <option th:value="HIGH">Высокий</option>
    </select><br><br>

    <label for="status">Статус:</label><br>
    <select id="status" th:field="*{status}">
        <option value="">-- выберите --</option>
        <option th:value="OPENED">OPENED</option>
        <option th:value="IN_PROCESS">IN_PROCESS</option>
        <option th:value="FINISHED">FINISHED</option>
        <option th:value="OVERDUE">OVERDUE</option>
    </select><br><br>

    <label for="deadline">Дедлайн:</label><br>
    <input type="datetime-local" id="deadline" th:field="*{deadline}"/><br><br>

    <button type="submit">Сохранить</button>
    <a th:href="@{/dashboard}">
        <button type="button">Отмена</button>
    </a>
</form>

<p id="message" style="color: green;" th:text="${message}"></p>
</body>
</html>
